//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 07 10:23:19 2021
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "INPUT1_MUX5_SLOT1" LOCATE = SITE "V4" LEVEL 1;
COMP "INPUT1_MUX5_SLOT2" LOCATE = SITE "T8" LEVEL 1;
COMP "RESET2_BUTTON" LOCATE = SITE "M16" LEVEL 1;
COMP "STOP_REANUDAR_BUTTON" LOCATE = SITE "K18" LEVEL 1;
COMP "RESET3_BUTTON" LOCATE = SITE "L17" LEVEL 1;
COMP "START_BUTTON" LOCATE = SITE "M18" LEVEL 1;
COMP "OUT0_DMUX1_SLOT1" LOCATE = SITE "U5" LEVEL 1;
COMP "OUT0_DMUX1_SLOT2" LOCATE = SITE "R5" LEVEL 1;
COMP "Am" LOCATE = SITE "N15" LEVEL 1;
COMP "INPUT0_MUX6_SLOT1" LOCATE = SITE "U7" LEVEL 1;
COMP "Bm" LOCATE = SITE "N16" LEVEL 1;
COMP "Ap" LOCATE = SITE "P15" LEVEL 1;
COMP "INPUT0_MUX6_SLOT2" LOCATE = SITE "U8" LEVEL 1;
COMP "a0" LOCATE = SITE "F17" LEVEL 1;
COMP "a1" LOCATE = SITE "F18" LEVEL 1;
COMP "Bp" LOCATE = SITE "P16" LEVEL 1;
COMP "b0" LOCATE = SITE "E16" LEVEL 1;
COMP "Q_MUX4_SLOT1" LOCATE = SITE "T4" LEVEL 1;
COMP "b1" LOCATE = SITE "E18" LEVEL 1;
COMP "Q_MUX4_SLOT2" LOCATE = SITE "R8" LEVEL 1;
COMP "INPUT0_MUX3_SLOT1" LOCATE = SITE "V5" LEVEL 1;
COMP "INPUT0_MUX3_SLOT2" LOCATE = SITE "T5" LEVEL 1;
COMP "INPUT1_MUX1_SLOT1" LOCATE = SITE "R3" LEVEL 1;
COMP "INPUT1_MUX1_SLOT2" LOCATE = SITE "T9" LEVEL 1;
COMP "OUT1_DMUX2_SLOT1" LOCATE = SITE "T3" LEVEL 1;
COMP "OUT1_DMUX2_SLOT2" LOCATE = SITE "V9" LEVEL 1;
COMP "RESET4_BUTTON" LOCATE = SITE "K17" LEVEL 1;
COMP "Q_MUX6_SLOT1" LOCATE = SITE "V7" LEVEL 1;
COMP "Q_MUX6_SLOT2" LOCATE = SITE "V8" LEVEL 1;
COMP "RESET1_BUTTON" LOCATE = SITE "L18" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

